<!DOCTYPE html>
<template>
  <style>
    .yo-button {
      background-color: #aaa;
      display: block;
      min-width: 74px;
      line-height: 16px;
      font-size: 12px;
      padding: 6px 12px;
      color: #fff;
      cursor: pointer;
      border-radius: 3px;
      border: 0;
      text-align: center;
      -webkit-transition: background-color 0.25s ease-in-out;
      transition: background-color 0.25s ease-in-out;
    }

    .yo-button:hover {
      filter: brightness(110%);
    }

  </style>
  <button class="yo-button"></button>
</template>
